<!-- 8-channel block -->
<div class="io8-grid">
    <div class="hart-facade">
        <img src="/img/hart_mux_io8_facade.png" />
    </div>

    <hart-mux-graphic-device params="device: devices()[1]"
        style="grid-column-start: 1; grid-row-start: 1">
    </hart-mux-graphic-device>
    <hart-mux-graphic-device params="device: devices()[2]"
        style="grid-column-start: 1; grid-row-start: 2">
    </hart-mux-graphic-device>
    <hart-mux-graphic-device params="device: devices()[3]"
        style="grid-column-start: 1; grid-row-start: 4">
    </hart-mux-graphic-device>
    <hart-mux-graphic-device params="device: devices()[4]"
        style="grid-column-start: 1; grid-row-start: 5">
    </hart-mux-graphic-device>

    <hart-mux-graphic-device params="device: devices()[5]"
        style="grid-column-start: 2; grid-row-start: 1">
    </hart-mux-graphic-device>
    <hart-mux-graphic-device params="device: devices()[6]"
        style="grid-column-start: 2; grid-row-start: 2">
    </hart-mux-graphic-device>
    <hart-mux-graphic-device params="device: devices()[7]"
        style="grid-column-start: 2; grid-row-start: 4">
    </hart-mux-graphic-device>
    <hart-mux-graphic-device params="device: devices()[8]"
        style="grid-column-start: 2; grid-row-start: 5">
    </hart-mux-graphic-device>
</div>