<h3><span data-bind="text: gateway"></span> Live List</h3>
<table id="hart-live-list" class="table table-striped">
    <thead>
        <tr>
            <th>Long Tag</th>
            <th>Name</th>
            <th>Company</th>
            <th>Hart Revision</th>
        </tr>
    </thead>
    <tbody data-bind="foreach: devices">
        <tr>
            <td data-bind="text: longTag"></td>
            <td data-bind="text: name"></td>
            <td data-bind="text: company"></td>
            <td data-bind="text: cmdRevLvl"></td>
        </tr>
    </tbody>
</table>