<div class="hart-device row">
    <section class="col-md-8 row">
        <h2>Device Summary</h2>
        <div class="col-md-3">
            <img src="img/dummy-device.jpg" class="img-responsive"/>
        </div>
        <div class="col-md-9">
            <p>
                <b>Long tag:</b> <span data-bind="text: longTag"></span>
            </p>
            <p>
                <b>HART revision:</b> <span data-bind="text: cmdRevLvl"></span>
            </p>
        </div>
    </section>
    <aside class="col-md-4">
        <h2>Send a Command</h2>
        <div id="send-cmd">
            <div class="input-group">
                <input type="text" class="form-control" placeholder="command #">
                <span class="input-group-btn">
                    <button class="btn btn-default btn-primary" type="button"
                        data-bind="value: cmd, click: sendCmd(cmd)">Send</button>
                </span>
            </div><!-- /input-group -->
            <div id="cmd-result">
                <h3>Response</h3>
                <p data-bind="text: cmdResponse.data"></p>
            </div>
        </div>
    </aside>
</div>